body {
	font-family: Calibri;
	background-color: OldLace;

	max-width: 300px;
	margin: auto;
}

div {
	margin-bottom: 10px;
	border: 1px solid LightGray;
	background-color: white;
	padding: 5px;
}

h1 { color: DarkOrange; }
h2 { color: DarkOrange; }

dt { font-weight: bold; }
dt::after { content: ":" }
